# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Flask
# =====================
instance/
.webassets-cache

# =====================
# Docker
# =====================
docker-compose.override.yml
*.log

# =====================
# PostgreSQL
# =====================
pgdata/
*.sqlite3

# =====================
# IDE / OS
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db
